.product_wrapper{
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 5px;
    margin: 5px;
    width: 300px;
}

.rating_wrap{
    display: flex;
    flex-direction: column;
}